*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient( white,lightblue);
    background-repeat: no-repeat;
}

#start{
    background-image: linear-gradient(white, lightblue);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#start h1{
    font-size: 2em;
}

#start button{
    width: 100vw;
    height: 20vh;
    background-color: rgba(173, 216, 230, 0);
    font-size: 3em;
    border:none;
    font-family: 'Times New Roman', Times, serif; 
}

#start button:hover{
    transition-delay: 0s;
    background-color: lightblue;
}

#start #login{
    width: 50vw;
    height: 10vh;
    border: 1px solid black;
}

/*Admin Login Page*/

#signin-container{
    background-color: lightblue;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}   

#signin{
    margin-left: 30vw;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

fieldset{
    height: 40vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.406);
}
/*Start of Orderpage*/

/*sidebar*/
#sidebar{
    height: 70vh;
    width: 25vw;
    padding: 30px;
    border-radius: 10px;
    background-image:linear-gradient(white,rgba(0, 0, 255, 0.18) );
    text-align: center;
    color: black;
    margin: 5px;
}

#sidebar h1{
    font-size: 1em;
}

#sidebar p{
    font-size: 1em;
}

#page{
    display: flex;
}


/*menu area*/
#orders{
    height: 70vh;
    width: 70vw;
    background-image: linear-gradient(lightblue,rgba(0, 0, 255, 0.269));
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

#orders #ordered{
    overflow:auto;
    height: 70vh;
    width: 70vw;
}

#orders #ordered div{
    height: 35vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 30px;
    text-align: center;
    float: left;
}

#page #orders button{
    height: 3vh;
    width: 15vw;
    font-size: 1em;
    background-color: rgba(173, 216, 230, 0.815);
    border: 0;
}

#page #orders button:hover{
    background-color: rgba(0,0,255, 0.269);
    transition-delay: 0.1ms;
}

#page #orders img{
    height: 100px;
}

/*payment area*/

#page #orders #OrderTotal{
    height: 20vh;
    width: 90vw;
    position: absolute;
    top: 83vh;
    right: 2vw;
    background-color: black;
    border-radius: 30px;
    text-align: center;
}

#page #orders #OrderTotal img{
    width:  75px;
    height: 50px;
    border: 0.1px solid black;
    border-radius: 25px;
}


